/*
   Tuesday, December 10, 201912:40:10 AM
   User: 
   Server: THIENND-LAPTOP
   Database: DBQLNV
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.SINHVIEN
	(
	MASV int NOT NULL,
	HOTEN nvarchar(50) NOT NULL,
	NGAYSINH date NOT NULL,
	GIOITINH nvarchar(50) NOT NULL,
	QUEQUAN nvarchar(50) NOT NULL,
	NOICUTRU nvarchar(50) NOT NULL,
	MALOP int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.SINHVIEN ADD CONSTRAINT
	PK_SINHVIEN PRIMARY KEY CLUSTERED 
	(
	MASV
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.SINHVIEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SINHVIEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SINHVIEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SINHVIEN', 'Object', 'CONTROL') as Contr_Per 